<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <link th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Users</title>


</head>
<body>
 <div class="container">
    <div class="row"><h1>Student Lists with Thymeleaf Pagination </h1></div>

    <div class="row">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>ID </th>
            </tr>
            <tr th:each="course : ${courses}">
                <td th:text="${course.name}"></td>
                <td th:text="${course.categories}"></td>
                <td th:text="${course.duration}"></td>
            </tr>
        </table>
    </div>


    <div class="row">
            <nav class="nav">
        <div class="form-group col-md-1" style="border:1px solid red">
            <select class="form-control pagination" id="pageSizeSelect">
                <option th:each="pageSize : ${pageSizeList}" th:text="${pageSize}" th:value="${pageSize}"
                        th:selected="${pageSize} == ${recordPerPage}"></option>
            </select>

            <div th:if="${courses.totalPages != 1}" class="form-group col-md-11 pagination-centered">
                <ul class="pagination">
                    <li th:class="${courses.number == 0} ? disabled">
                        <a class="pageLink" th:href="@{/(pageSize=${recordPerPage}, PageSerial=1)}">&laquo;</a>
                    </li>
                    <li th:class="${courses.number == 0} ? disabled">
                        <a class="pageLink" th:href="@{/(pageSize=${recordPerPage}, PageSerial=${courses.number})}">&larr;</a>
                    </li>
                    <li th:class="${courses.number == (PageSerial - 1)} ? 'active pointer-disabled'"
                        th:each="PageSerial : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                        <a class="pageLink" th:href="@{/(pageSize=${recordPerPage}, PageSerial=${PageSerial})}"
                           th:text="${PageSerial}"></a>
                    </li>
                    <li th:class="${courses.number + 1 == courses.number} ? disabled">
                        <a class="pageLink"
                           th:href="@{/(pageSize=${recordPerPage}, PageSerial=${courses.number + 2})}">&rarr;</a>
                    </li>
                    <li th:class="${courses.number + 1 == courses.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/(pageSize=${recordPerPage}, PageSerial=${courses.totalPages})}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
            </nav>
    </div>
 </div>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>